@model IEnumerable<GloboTicket.Web.Models.View.BasketLineViewModel>
<h1>Your payment has been processed, please wait until the process is completed.</h1>

     <a asp-controller="EventCatalog" asp-action="Index">
                    <img class="backIcon" src="~/img/arrow-down.svg" /> Back to event catalog
                </a>
